.FoodItem {
  color: rgb(215, 77, 77) !important; /* Set text color to maroon */
  background-color: transparent !important; /* Remove Bootstrap white bg */
  
  table-layout: 45px !important; /* Set fixed width for table cells */
  
}

                                

.kgm li {
  background-color: transparent !important; /* Remove Bootstrap white bg */           
  color: rgb(30, 144, 255)
  !important; /* Set text color to light sky blue */
  border: 5px solid rgba(0, 0, 0, 0.674) !important; /* Add a black border */
  margin: 25px !important;
  width: 100px !important;
  height: 80px !important;
  border-radius: 5px !important; /* Optional: Add some border radius for better aesthetics */
}
